/* STYLE */
@charset "UTF-8";

/* 1. Déclaration de l'ordre de priorité des couches
(du moins prioritaire au plus prioritaire) */
@layer settings, base, layout, components;

/* 2. Importation des fichiers physiques dans les couches virtuelles */

/* Dossier : css/settings/ */
@import url("css/settings/variables.css") layer(settings);

/* Dossier : css/base/ */
@import url("css/base/normalize.css") layer(base);
@import url("css/base/typography.css") layer(base);

/* Dossier : css/layout/ */
@import url("css/layout/grid.css") layer(layout);

/* Dossier : css/components/ */
@import url("css/components/menu.css") layer(components);
/* @import url("css/components/accordeon.css") layer(components); */
/* @import url("css/components/modale.css") layer(components); */

/* Temporaire - Pour tester une variable définie dans les settings */

body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}
h1 {
  color: black;
}

.fil-ariane__liste {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.fil-ariane ul li,
.fil-ariane ul li a {
  color: #7d7d7d;
  text-decoration: none;
  margin-right: 10px;
}
.fil-ariane ul li span {
  margin-right: 20px;
}

.barre-outils {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  margin-right: 0;
}
.barre-outils__button-masquer-filtres {
  background-color: white;
  color: black;
  border: 1px solid white;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.main__catalogue-header h1,
.main__catalogue-header p {
  margin: 0;
}
.main__catalogue-header {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}
.main__catalogue-layout {
  padding-left: 2%;
  padding-right: 2%;
}
.main__button-tri button {
  background-color: white;
  color: #7d7d7d;
  border: 1px solid #7d7d7d;
  padding: 10px 25px;
  font-size: 14px;
  cursor: pointer;
}
.main__button-tri button:hover {
  background-color: black;
  color: white;
  border-color: black;
}
.main__button-tri .main__button-tri--tous {
  background-color: black;
  color: white;
  border: 1px solid black;
}
.main__section_filtres label {
  color: #4a5565;
}
.main__section_filtres legend {
  color: black;
}
.main__section_filtres hr {
  color: #a3a3a3;
}
.main__section_filtres fieldset {
  border: none;
}
.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
.carte-produit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  background-color: white;
  text-align: left;
  margin-top: auto;
}
.carte-produit__image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.carte-produit__badge {
  background-color: black;
  color: white;
  padding: 5px 10px;
  width: fit-content;
}
.carte-produit .carte-produit__bouton-ajouter-panier:hover {
  background-color: black;
  color: white;
  border-color: black;
}
.carte-produit p,
.carte-produit h3 {
  margin-left: 5%;
}
.carte-produit__sexe {
  color: #0088cd;
  font-size: 12px;
}
.carte-produit__numero-couleur {
  color: #a3a3a3;
  font-size: 16px;
}
.carte-produit .carte-produit__bouton-ajouter-panier {
  background-color: white;
  color: #a3a3a3;
  border: 1px solid #a3a3a3;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: auto;
}
.nav-menu {
  background-color: black;
}
.nav-menu__logo {
  width: 100px;
  height: auto;
  color: white;
}
.nav-menu__toggle,
.nav-menu-list,
.nav-menu__link {
  color: white;
}
footer {
  width: 100%;
  background-color: #2a2a2a;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  text-align: left;
}
.footer__menu p a {
  color: white;
  text-decoration: none;
}
.main__section_catalogue-numero-page {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.numero-page-precedent,
.numero-page2,
.numero-page3,
.numero-page-suivant {
  color: black;
  background-color: white;
  border: 1px solid #7d7d7d;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
.numero-page-precedent:hover,
.numero-page2:hover,
.numero-page3:hover,
.numero-page-suivant:hover {
  color: white;
  background-color: black;
}
.numero-page1 {
  color: white;
  background-color: black;
  border: 1px solid black;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
}
@media (width > 768px) {
  .footer__div2 .footer__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  .footer {
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: start;
    gap: 10px;
    text-align: left;
  }
  .main__catalogue-layout {
    padding-left: 5%;
    padding-right: 5%;
  }
}
